# Python
__pycache__
*.pyc
*.egg-info
build
dist
venv
.ipynb_checkpoints
sphinx-docs/_*
.coverage
coverage_*
.hypothesis/

# Scala
scala_jar/target
scala_jar/project/target
*.class
*.cache
.metals/

# MacOS
.DS_Store

# Misc
metastore_db
derby.log
hlink_config
tags
